.container
  .menu
    .menu__user
      .menu__user__name
        Okubo
        .menu__user__name__icons
          %i.fa.fa-pencil-square-o
          %i.fa.fa-cog
    .menu__groups
      .menu__groups__group
        .menu__groups__group__name
          hello World!
        .menu__groups__group__info
          新着メッセージはありません
      .menu__groups__group
        .menu__groups__group__name
          hello World 2!
        .menu__groups__group__info
          新着メッセージが2件あります
  .chats
    .chats__info
      .chats__info__left
        .chats__info__left__group
          Hello World!グループ
        .chats__info__left__members
          Members: Okubo Koki
      .chats__info__edit
        .chats__info__edit__text
          Edit
    .chats__list
      .chats__list__chat
        .chats__list__chat__user
          Okubo
        .chats__list__chat__date
          2016/12/12 04:43:12
        .chats__list__chat__text
          大久保だよ！
      .chats__list__chat
        .chats__list__chat__user
          Okubo
        .chats__list__chat__date
          2016/12/12 04:43:12
        .chats__list__chat__text
          大久保だよ！
      .chats__list__chat
        .chats__list__chat__user
          Okubo
        .chats__list__chat__date
          2016/12/12 04:43:12
        .chats__list__chat__text
          大久保だよ！
      .chats__list__chat
        .chats__list__chat__user
          Okubo
        .chats__list__chat__date
          2016/12/12 04:43:12
        .chats__list__chat__text
          大久保だよ！
      .chats__list__chat
        .chats__list__chat__user
          Okubo
        .chats__list__chat__date
          2016/12/12 04:43:12
        .chats__list__chat__text
          大久保だよ！
    %form.chats__form
      %textarea{class: "chats__form__text", placeholder: "type a message"}
      %label.chats__form__icon
        %i.fa.fa-image
      %input{type: "submit", value: "Send", class: "chats__form__submit"}
