.chats__list__chat
  .chats__list__chat__user
    = group_message.user.name
  .chats__list__chat__date
    = group_message.created_at
  .chats__list__chat__text
    = group_message.text
    = image_tag(group_message.image.to_s) if group_message.image
